<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TMtextng.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TMtextng.Properties.Settings>
            <setting name="TextBoxContent" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSpeech" serializeAs="String">
                <value />
            </setting>
            <setting name="globalMouseClickCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isScanOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isScanPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CycleScanPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedText" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadCursor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Is_abc_user_removed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyVoiceActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastActiveRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastActivecColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PressedButtonLetter" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedButton_once" serializeAs="String">
                <value>False</value>
            </setting>
        </TMtextng.Properties.Settings>
    </userSettings>
</configuration>
